<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
  <%= f.collection_select(:place_eq, Place.all, :name, :name, include_blank: true, class: "form-control") %>

  <%= f.submit "絞り込み"%>
<% end %>

<div>
    <% @posts.each do |post| %>
     <hr>
        <div class="user_name"> <%= link_to post.auther, users_path(post.user_id) %> </div>
        <div class="title"> <%= post.title %> </div>
        <div class="images">
          <% if post.images.attached? %>
           <%= image_tag post.images.first, :size => '500x420'%> <br>
          <% end %>
        </div>
        <div class="content"> <%= sanitize post.content, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %> </div>
        <div class="categry"> カテゴリー：<%= post.place %> </div>
        <div class="various">
          <%= link_to 'Show', post %>
            <% if user_signed_in? %>
              <% if current_user.likes?(post)%>
              <%= link_to '✨', likes_path(post) %><%=post.likers(User).count%>
              <% else %>
              <%= link_to '☆', likes_path(post) %><%=post.likers(User).count%>
              <% end %>

              <% if user_signed_in? && post.user_id == current_user.id %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<hr>
<div>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
</div>