<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @post.place %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p><strong>Content:</strong></p>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
   <% if @post.images.attached? %>
    <div class="carousel-item active">
        <%= image_tag @post.images.first, :class =>"d-block w-100", :size => "500x420"%>
    </div><!-- /.carousel-item -->
    <% @post.images.slice(1..-1).each do |image| %>
      <div class="carousel-item">
          <%= image_tag image, :class => "d-block w-100", :size => '500x420'%>
      </div>
    <% end %>
   <% end %>
  </div><!-- /.carousel-inner -->
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div><!-- /.carousel -->
<p><%= sanitize @post.content, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %></p>

  <strong>Auther:</strong>
  <%= @post.auther %>
</p>

<p>
<% if current_user.likes?(@post)%>
<%= link_to 'nolike', likes_path(@post) %><%=@post.likers(User).count%>
<% else %>
<%= link_to 'like', likes_path(@post) %><%=@post.likers(User).count%>
<% end %>
</p>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    comment
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
        <h2>Comments</h2>
      <div id="comments">
        <%= render @post.comments %>
      </div>

    <%= render 'comments/new', post: @post %> 
  </div>
</div>

<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseyoki" aria-expanded="false" aria-controls="collapseyoki">
        よき！一覧
      </button>
    </p>
    <div class="collapse" id="collapseyoki">
      <div class="card card-body">
        <% @likers.each_with_index do |liker| %>
      <p><%= link_to liker.name, users_path(liker.id) %></p>
    <% end %>
      </div>
    </div>
</div>