<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <%= link_to "SBS", root_path, class: "navbar-brand" %>
  <div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Top', posts_path, class: "dropdown-item" %>
    <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "dropdown-item" %>
    <%= link_to 'My Page', mypage_path, class: "dropdown-item" %>
    <%= link_to 'Sign Out', destroy_user_session_path, class: "dropdown-item", method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "dropdown-item" %>
    <%= link_to 'Sign In', new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
</nav>